{% load static %}
<div class="header">
    <button class="menu-btn" id="menuBtn" aria-label="Open sidebar">☰</button>
    <div class="header-item">
        <span>Cyber 102 Malumotlar Bazasi tizimi </span>
    </div>
    <div class="header-icon">
        <a href="#" class="sidebar-link dropdown-toggle-2">Admin</a>
        <div class="dropdown-menu-2">
            <a href="#" class="dropdown-item">Profile</a>
            <a href="#" class="dropdown-item">Logout</a>
        </div>
    </div>
</div>