{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sidebar with Toggle</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <video autoplay muted loop class="bg-video">
            <source src="{% static 'img/main.mp4' %}" type="video/mp4">
            <source src="{% static 'img/main.mp4' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>
        
        <!-- Saidbar -->
        {% include "__navbar.html" %}
        
        <!-- Main Content -->
        <div class="main-content">
            <!-- Header -->
            {% include "__header.html" %}
            
            <!-- Content -->
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>